<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <environments default="jbossDS">
	
	<environment id="jbossDS">
			<transactionManager type="JDBC">
				<property name="closeConnection" value="false" />
			</transactionManager>
			<dataSource type="JNDI">
				<property name="initial_context" value="java:" />
				<property name="data_source" value="bx_cargonet" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="cl/bluex/tracking/mapper/trackingMapper.xml" />
	</mappers>

</configuration>